<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true"
        tools:ignore="UnnecessaryRequiredFeature" />

    <!-- All of these except RECEIVE_MMS are required for getDefaultSmsPackage() -->
    <!-- to work correctly on newer Android versions. If you're missing any, that -->
    <!-- method may return null while your app is the default SMS app, even though the -->
    <!-- app will still function as the default. What a mess Android's SMS has become! -->
    <!-- The system's list of these is in com.android.internal.telephony.SmsApplication. -->

    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.WRITE_SMS"
        tools:ignore="SmsAndCallLogPolicy,SystemPermissionTypo" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.RECEIVE_WAP_PUSH"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.READ_CELL_BROADCASTS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.RECEIVE_MMS"
        tools:ignore="SmsAndCallLogPolicy" />


    <!-- One of <queries> or <uses-permission> is required for getDefaultSmsPackage() on API -->
    <!-- levels >= 30. The <queries> entry seems sufficient for 30..33, but later versions -->
    <!-- apparently require the QUERY_ALL_PACKAGES permission. This is possibly related to the -->
    <!-- permissions mess noted above, but it's unclear why the version discrepancy exists. -->

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />

    <!-- <queries> -->
    <!--     <intent> -->
    <!--         <action android:name="android.provider.Telephony.SMS_DELIVER" /> -->
    <!--     </intent> -->
    <!-- </queries> -->


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.adbsms">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".AdbSmsProvider"
            android:authorities="adbsms"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <receiver android:name=".internal.StatusDeleteReceiver" />


        <!-- Default SMS app components -->

        <receiver
            android:name=".internal.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".internal.MmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".internal.ComposeSmsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <service
            android:name=".internal.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

    </application>

</manifest>