<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true"
        tools:ignore="UnnecessaryRequiredFeature" />

    <uses-permission android:name="android.permission.READ_SMS" />


    <!-- One of <queries> or <uses-permission> is required for getDefaultSmsPackage(). -->
    <!-- If you're not using the default SMS app option at all, both can be removed. -->
    <!-- The <queries> entry is sufficient for API levels 30..33, but later versions -->
    <!-- seem to require the QUERY_ALL_PACKAGES permission. I'm not sure why, though, -->
    <!-- as I can't find any mention of relevant behavior changes. -->

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- <queries> -->
    <!--     <intent> -->
    <!--         <action android:name="android.provider.Telephony.SMS_DELIVER" /> -->
    <!--     </intent> -->
    <!-- </queries> -->


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".AdbSmsProvider"
            android:authorities="adbsms"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />


        <!-- Default SMS app components. You could do this without creating any of -->
        <!-- the actual classes, by simply suppressing the resulting lint warnings -->
        <!-- and errors, but that would guarantee a crash if you happened to get a -->
        <!-- message while this app is the default. If you're not using the default -->
        <!-- app option, all of the following can be removed, as can be the classes. -->

        <receiver
            android:name=".SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".MmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ComposeSmsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <service
            android:name=".HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

    </application>

</manifest>